body {
    font-family: 'Inter', sans-serif;
    margin: 40px;
    background: #f5f5f5;
    text-align: right-align;
    width: 100vw;
    max-width: 100%;
}

.section {
 display: flex;
 align-items: center;
 gap: 20px;
 margin: 40px 0;
}

.section img{
 width: 30%;
 object-fit: cover;
}

.section .text {
width: 50%;
}

@media only screen and (max-width: 768px) {
.section {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 2rem;
  }
  .section.discover img {
    width: 40%;
    height: auto;
    margin-left: 6%;
  }
  .section.story img {
      flex-direction: row-reverse;
      width: 40%;
      height: auto;
      margin-right: 6%;
  }
   .section .text {
       text-align: left;
       width: 65%;
       font-size: 16px;
   }
    .hero {
        Width: 35vh;
        height: auto;
        background-size: cover;
        background-position: center;
    }
}

.hero-image { 
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
}

  ul.social-link {
    object-fit: contain;
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    gap: 10px;
  }

 ul.social-link img {
      width: 40px;
      height: 40px;
      display: flex;
  }

.hero h1 {
     color: #ffffff;
     transition: color 0.3s ease;
     text-align: center;
     font-family: 'Playfair Display', sans-serif;
     position: relative;
     z-index: 2;
}

h2{
    color: #480628;
    transition: color 0.3s ease;
    text-align: right-align;
    font-family: 'Playfair Display', sans-serif;
}

hero-heading{
   font-family: 'Playfair Display', sans-serif;
   margin: 40px;
   background-color: rgba(225, 225, 225, 0.7);
   padding: 20px
}

.hero{
   background-image:
   url('https://export-download.canva.com/xRUpg/DAG3qzxRUpg/10/0/0001-2828743988192074359.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUH5AO7UJ26%2F20251103%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251103T095512Z&X-Amz-Expires=42932&X-Amz-Signature=579be7ae37922ed5540bcbf611626b28533fc67b013308983902d498606761d7&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27Untitled%2520design.svg&response-expires=Mon%2C%2003%20Nov%202025%2021%3A50%3A44%20GMT');
   background-size: cover;
   background-position: center;
   height: 560px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   align-items: center;
  @media (max-width: 768px){
   .hero{
    height: 50vh;
    }
}

hero .btn{
   padding: 10px 20px;
   background-color: #ffffff;
   color: #ffffff;
   text-decoration: none;
   border-radius: 5px;
   margin-top: 20px;
}
